@font-face {
  font-family: "sharkyFont";
  src: url("./img/5.Font/LuckiestGuy-Regular.ttf");
}

body {
  font-family: "sharkyFont";
  color: rgba(83, 26, 130, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  /* font-size: 30px; */
}
#introductionBTN {
  font-family: "sharkyFont";
  color: rgba(83, 26, 130, 255);
  font-size: 30px;
  background-color: rgb(127, 255, 224);
  padding: 8px 32px;
  border-radius: 16px;
  border: white solid 3px;
}

#instructions {
  position: absolute;
  /* display: flex; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  align-items: center;
  justify-content: center;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#instructionText {
  margin: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  color: rgb(100, 112, 163);
  font-weight: 200;
  /* font-family: "sharkyFont"; */
  max-width: 650px;
  max-height: 300px;
}

#closeBTN {
  position: absolute;
  top: 0px;
  right: 16px;
  /* font-size: 30px;
  padding: 4px 8px; */

  font-family: "sharkyFont";
  color: rgba(83, 26, 130, 255);
  font-size: 30px;
  background-color: rgb(127, 255, 224);
  padding: 8px 32px;
  border-radius: 16px;
  border: white solid 3px;
}

#closeBTN:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#instructions h3 {
  font-size: 30px;
  padding: 8px;
  color: rgb(100, 112, 163);
  font-weight: 300;
  margin-bottom: 24px;
}

.start-Buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 5%;
}

#introductionBTN:hover {
  transform: scale(1.1);
}
#Landscape {
  /* position: absolute; */
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 24px; */
  background-image: url("./img/3. Background/Legacy/Layers/5. Water/L2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Landscape h1 {
  margin: 24px;
  padding: 0;
}

#Landscape img {
  /* position: absolute; */
  /* top: 24px; */
  /* left: 0;
  right: 240px; */
  width: 50%;
  rotate: 270deg;
  /* height: 50vh; */
}

@media screen and (orientation: portrait) {
  #startScreen {
    display: none;
  }
  #Landscape {
    position: absolute;
    top: 0;
    display: flex;
    height: 100vh;
  }
  body {
    background-image: url("./img/3. Background/Legacy/Layers/5. Water/L2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(128, 128, 128, 0.3);
  }
}

#game-background {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  background-image: url("./img/jellyfish-4949515_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

h1 {
  font-size: 200%;
  margin: 0;
  padding: 0;
  color: rgba(83, 26, 130, 255);
}

h2 {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  justify-content: center;
}

.gameDisplay {
  display: flex;
}

.restartBtn {
  width: 100vw;
  max-width: 720px;
  justify-content: center;
  align-items: center;
}
#restart {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 16px;
  font-size: 24px;
}

h2 {
  font-size: 100%;
  color: rgb(100, 112, 163);
}

canvas {
  width: 720px;
  height: 480px;
  background-color: black;
}

#mobile-overview {
  position: absolute;
  top: 70%;
}

#mobileBtn-Sound {
  position: absolute;
  bottom: 1%;
  right: 2%;
  padding: 16px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}
/********for Smartphones************/

#mobile-btns {
  width: fit-content;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  gap: 16px;
}

.Btns-LeftSide {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url("./img/6.Botones/Key/arrowkeys.png");
  background-size: 100%;
  background-repeat: cover;
  background-repeat: no-repeat;
  opacity: 70%;
  gap: 4px;
}

.Btns-RightSide {
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 70%;
  gap: 4px;
}

#mobileBtn-Left,
#mobileBtn-Right,
#mobileBtn-Up,
#mobileBtn-Down,
#mobileBtn-D,
#mobileBtn-Space {
  width: 40px;
  height: 40px;
  justify-content: center;
}

#mobileBtn-D {
  background-image: url("./img/6.Botones/Key/Dkey.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#mobileBtn-Space {
  width: 200px;
  background-image: url("./img/6.Botones/Key/SpaceBarkey.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
  #mobile-overview {
    position: absolute;
    top: 70%;
  }
  #mobile-btns {
    position: relative;
    bottom: 5%;
  }
}
/********for Smartphones************/
.d-none {
  display: none;
}
.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#gameOver {
  position: absolute;
  width: 30%;
  top: 20%;
}
.startScreen {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  background-image: url("./img/3. Background/Legacy/Layers/5. Water/L2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#startGame img {
  width: 100%;
  min-width: 180px;
}
#startGame {
  display: flex;
  align-items: center;
  width: 200px;
  /* padding: 8px; */
  justify-content: left;
}
#startGame:hover img {
  transform: scale(1.1);
}

button:hover {
  cursor: pointer;
}

.backgound {
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Start-Instructions {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 12px;
}
.Start-Instructions img {
  margin: 0%;
  padding: 0%;
  width: 50%;
}

.start-Keys {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

h3 {
  color: white;
  font-size: 0.7em;
  font-weight: 200;
  padding-left: 120px;
  padding-right: 24px;
  margin: 0;
}

.start-Keys img {
  padding: 8px;
  height: 30px;
  width: 30px;
  min-width: 30px;
}

#Start-ArrowKeys {
  width: 60px;
  height: 30px;
}

#Start-ArrowKeysh3 {
  padding-left: 90px;
}

#Start-SpaceBar {
  width: 120px;
  height: 30px;
}

#Start-SpaceBarh3 {
  padding-left: 30px;
}
